.unassignedImg{
    display: inline-block;
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin: 20px;
    border-radius: 50%;
    border: 1px solid black;
}

.assignedImg{
    width: 20px;
    height: 20px;
    object-fit: cover;
    border-radius: 50%;
    margin: 10px;
    border: 1px solid black;
}

.card{
    margin-top: 10px;
    background-color: #f3f3f3;
    border-radius: 10px;
}

.userInfo{
    display: inline-block;
    min-width: 20%;
    margin-top: 15px;
}

.assignBtn{
    display: inline-block;
    margin-left: 280px;
}

.smallCard{
    position: relative;
    background-color: #f3f3f3;
    border-radius: 20px;
}

.smallCard .helpText{
    visibility: hidden;
  width: 120px;
  background-color: rgb(65, 61, 61);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  bottom: 100%;
  left: 50%;
  margin-left: -60px;
}

.smallCard:hover .helpText{
    visibility: visible;
}

.selectedUlList{
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
}

.checkbox{
    margin-left: 10px;
    margin-right: 10px;
}
