.search-table{
    display: inline-block;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 2.5%;
    border: 3px solid black;
}

.addButton{
    background: green;
    color: white;
    margin-top: -1.4rem;
    cursor: pointer;
}

.removeButton{
    background: red;
    color: black;
    margin-top: -1.4rem;
    cursor: pointer;
}

.search-wrapper{
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

input{
    font-size: 1rem;
}

.product-cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: .25rem;
    margin-top: 1rem;
}

.card{
    border: 1px solid black;
    background-color: white;
    padding: .5rem;
}

.card > .header{
    margin-bottom: .25rem;
}

.card > .body{
    font-size: .8rem;
    color: #777;
}

.hide{
    display: none;
}