<template>
    <section    role="dialog" 
                tabindex="-1" 
                aria-labelledby="modal-heading-01" 
                aria-modal="true"
                aria-describedby="modal-content-id-1" 
                class={boxClasses} >
        
            
        <template if:true={isOpen}>
            <div class="slds-modal__container">

                <!-- modal header start -->
                <header class="slds-modal__header">
                    <!-- sldsValidatorIgnoreNextLine -->
                    <lightning-button-icon  icon-name="utility:close" 
                                            aria-label="close" 
                                            alternative-text="Close this window" 
                                            size="large"  
                                            variant="bare-inverse" 
                                            onclick={closeModal} 
                                            title="close" 
                                            class="slds-modal__close" >  
                    </lightning-button-icon>  
                    <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">Presales Activity: {activity.status}</h2>
                </header>            

                <!-- Modal/Popup Box LWC body starts here -->
                <div class="slds-modal__content slds-var-p-around_medium" id="modal-content-id-1">
                    <table>
                        
                        <!--Account-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title">
                                <p>
                                    Account:
                                </p>    
                            </td>
                            <td class="slds-var-p-around_small">
                                <a>
                                    {activity.opportunity.AccountName}
                                </a>    
                            </td>
                        </tr>

                        <!--Opportunity-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title">
                                <p>
                                    Opportunity:
                                </p>
                            </td>
                            <td class="slds-var-p-around_small">
                                <a>
                                    {activity.opportunity.Name}
                                </a>
                            </td>
                        </tr>

                        <!--Product-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title" style="vertical-align: top;">
                                <p>
                                    Product(s):
                                </p>    
                            </td>
                            <td class="slds-var-p-around_small">
                                <ul>
                                    <template for:each={products} for:item="product">
                                        <li key={product.id}>
                                            <p>{product.name}</p>
                                        </li>
                                    </template>
                                </ul>
                            </td>
                        </tr>

                        <!--Activity-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title">
                                <p>
                                    Activity Type:
                                </p>
                            </td>
                            <td class="slds-var-p-around_small">
                                <p>
                                    {activity.activity_Type.name}
                                </p>
                            </td>
                        </tr>

                        <!--Location-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title">
                                <p>
                                    Location:
                                </p>        
                            </td>
                            <td class="slds-var-p-around_small">
                                <p>
                                    {activity.location}
                                </p>
                            </td>
                        </tr>

                        <!--Team-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title" >
                                <p>
                                    Team:
                                </p>
                            </td>

                            <td class="slds-var-p-around_small" >
                                <lightning-layout vertical-align="center">
                                    <template if:false={teamIsAssigned} >
                                        <p >No team assigned.</p>
                                    </template>

                                    <lightning-layout-item >
                                        <ul>
                                            <template for:each={activity.team} for:item="member" >
                                                <li key={member.Id} >
                                                    <lightning-formatted-email value={member.Email} label={member.Name} hide-icon ></lightning-formatted-email>
                                                </li>
                                            </template>
                                        </ul>
                                    </lightning-layout-item>
                                </lightning-layout>
                            </td>
                        </tr>

                        <!--Date-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title" style="vertical-align: top;">
                                <p>
                                    Date:
                                </p>
                            </td>

                            <td class="slds-var-p-around_small">
                                <template if:true={dateIsOptional} >
                                    <p class="slds-text-title" >Requested Dates:</p>
                                    <ul class="slds-var-m-left_small" >
                                        <template for:each={activity.dates} for:item="date" >
                                            <li key={date.id}>
                                                <p>{date.localeString}</p>
                                            </li>
                                        </template>
                                    </ul>
                                </template>

                                <template if:false={dateIsOptional} >
                                    {activity.selectedDate.localeString}
                                </template>
                            </td>
                        </tr>

                        <!--Submitted By-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title">
                                <p>
                                    Submitted By:
                                </p>
                            </td>
                            <td class="slds-var-p-around_small">
                                <lightning-formatted-email value={activity.submittedBy.Email} label={activity.submittedBy.Name} hide-icon ></lightning-formatted-email>
                            </td>
                        </tr>

                        <!--Notes-->
                        <tr>
                            <td class="slds-var-p-around_small slds-text-title" style="vertical-align: top;">
                                    <p>
                                        Notes:
                                    </p>
                            </td>
                            <td class="slds-var-p-around_small">
                                <div >
                                    <c-notes-view   data-activity-id={activity.activity_ID} 
                                                    data-max-items="3" >
                                    </c-notes-view>
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            

                <!-- modal footer start -->
                <footer class="slds-modal__footer">
                    <lightning-button   variant='neutral'
                                        onclick={closeModal}
                                        label='Close'
                                        class="slds-float_right" >
                    </lightning-button>
                </footer>
            </div>
        </template>
    </section>
    <div class={backdropClasses}></div>
</template>
